
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.master-container {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    vertical-align: middle;
    box-sizing: border-box;
    height: 90px;
    width: 90px;
    font-size: 60px;
    padding: 20px;
    margin: 0 -2.7px;
}

#screen {
    border: 1px solid black;
    height: 200px;
    display: flex;
    align-items: center;
}

#clear-button, #back-button {
    width: 90px;
}

#equals {
    width: 180px;
}